<h1><%= @place["name"] %></h1>

<a href="/places"> Back to all the places I've been to </a>

<h2>My Posts for <%= @place["name"] %></h2>

<% for post in @posts %>
    <h3><%= post["title"]%></h3>
    <p><%= post["posted_on"]%><p>
    <h4><%= post["description"]%></h4>
<% end %>

<p>
    <a href="/posts/new?place_id=<%= @place["id"] %>">Creat a new post for
    <%= @place["name"] %></a>
</p>