<h1><%= @place["name"] %></h1>

<a href="/places"> Back to all the places I've been to </a>

<h3>Posts</h3>


<% for post in @posts %>
    <h4><%= post["title"]%></h4>
    <h5><%= post["posted_on"]%></h5>
    <%= post["description"]%>
<% end %>


<p>
    <a href="/posts/new?place_id=<%= @place["id"] %>">Creat a new post for
    <%= @place["name"] %></a>
</p>